// Fontsss...
$text-font-stack: 'Teko', sans-serif;

/// Colors
$brand-color:hsl(0, 0%, 5%);
$text-color: hsl(0, 0%, 5%);
$text-color-secondary: hsl(0, 0%, 15%);
$dept-blue: hsl(241, 93%, 53%);
$dept-light-blue: hsl(180, 14%, 96%);
$dept-white: hsl(0, 100%, 100%);
$dept-border-color:hsl(0, 0%, 64%);
$dept-border-color-dark: hsl(0, 0%, 24%);
$dept-border-color-light: hsl(0, 0%, 87%);
$dept-darkgrey: hsl(0, 0%, 50%);
$dept-warning-red: hsl(0, 100%, 58%);

// Container
$max-width: 1280px !default;
