// Fontsss...
$text-font-stack: 'Teko', sans-serif;

/// Colors
$brand-color:hsl(0, 0%, 5%);
$text-color: hsl(0, 0%, 5%);
$text-color-secondary: hsl(0, 0%, 15%);
$dept-blue: hsl(241, 93%, 53%);
$dept-white: hsl(0, 100%, 100%);
$dept-border-color:hsl(0, 0%, 64%);
$dept-border-color-dark: #3E3E3E;
$dept-darkgrey: #808080;
$dept-warning-red: #FF2929;

// Container
$max-width: 1280px !default;
